body {
    margin: 0;
    padding: 0;
    background-image: url(netflix_bg.jpg);
    background-repeat: no-repeat;
}

#subHeading h3 a {
    color: white;
    text-decoration: none;
}

#subHeading h3 a:hover {
    text-decoration: underline;
}

#bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.603);
}

#logo {
    width: 10%;
    margin: 20px;
}

#signUpback {
    font-size: 16px;
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 40px 68px;
    background-color: rgba(0, 0, 0, 0.589);
    height: 600px;
    width: 330px;
}

#signUpback h1 {
    font-size: 32px;
    margin-left: -6%;
}

.inputType {
    color: white;
    border: 0;
    border-radius: 4px;
    background-color: #333333;
    height: 50px;
    width: 314px;
    margin: 10px;
    padding: 5px 20px 5px 20px;
}

#signUpBg {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#signUpBg>div {
    width: 314px;
}

#signUpBg form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 314px;
}

#signInBtn {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.inputType::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
}

#signUpBg form button {
    border: 0;
    border-radius: 4px;
    color: white;
    background-color: #E50914;
    height: 48px;
    padding: 16px;
    margin: 24px 0;
    width: 355px;
}

#usbSignupField {
    color: gray;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#usbSignupField input[type="checkbox"]::before {
    background: #333333;
    border: 0;
    border-radius: 2px;
    height: 16px;
    width: 16px;
}

#usbSignupField .float-left {
    font-size: 13px;
    margin-top: -4px;
    margin-left: -6%;
}

#usbSignupField .float-right {
    font-size: 13px;
    margin-top: -4px;
    margin-right: -6%;
}

#usbSignupField .float-right:hover {
    cursor: pointer;
    text-decoration: underline;
}

#subHeading {
    margin-top: 20%;
    color: #737373;
    font-size: 14px;
    margin-left: -8%;
    color: #838383;
}

#subHeading a {
    margin-top: 3%;
    color: #ffffff;
    font-size: 14px;
    margin-left: 5px;
}

#subHeading .learn {
    font-size: 13px;
    text-decoration: none;
    color: #0071eb;
}

#subHeading .learn:hover {
    cursor: pointer;
    text-decoration: underline;
}

#subHeading p {
    margin-top: 3%;
    color: #737373;
    font-size: 13px;
}

#footer {
    background-color: rgba(0, 0, 0, 0.603);
    height: 272px;
    width: 100%;
    margin-top: 6%;
}

#footer .question {
    color: #737373;
    font-size: 20px;
    margin-left: 17.5%;
    margin-top: 30px;
}

#footer .footer-content1 {
    display: flex;
    color: #737373;
    font-size: 13px;
    margin-left: 4%;
    margin-top: 2.5%;
}

#footer .footer-content1 a {
    text-decoration: none;
    margin-left: 14%;
}

#footer .footer-content2 {
    display: flex;
    color: #737373;
    font-size: 13px;
    margin-left: 9%;
    margin-top: 2%;
}

#footer .footer-content2 a {
    text-decoration: none;
    margin-left: 9.2%;
}

#footer .footer-content1 :hover {
    cursor: pointer;
    text-decoration: underline;
}

#footer .footer-content2 a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.btn {
    display: flex;
    margin-left: 17.5%;
    margin-top: 2%;
    height: 48px;
    padding-top: 5px;
}

.btn select {
    background-color: #000000;
    color: #737373;
    width: 128px;
    padding-left: 3%;
}

.btn option {
    background-color: #000000;
    color: #737373;
    width: 130px;
    padding-right: 4px;
}